---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "partenaires",
        "sponsors",
        "speakers",
        "schedule_preview",
        "home",
        "talks",
        "schedule",
        "conflike",
        "roti",
        "become_a_sponsor"
;

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.navbar-brand {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #000;
  .small-brand {
    font-size: 15px;
  }
}

.nav.navbar-nav.navbar-right, h1, h2, h3 {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav.navbar-nav {
  font-size: 13px;
}


// CSS update HP 25.03.2021

body {
    padding-top: 0 !important;
    background: linear-gradient(333deg, rgba(253,203,113,1) 35%, rgba(255,251,242,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%; //100vh
    font-family: 'Josefin Sans', sans-serif;
    color: #383A56 !important;
}

.about {
    font-weight: bold;
    text-decoration: none;
}

.about:hover {
    text-decoration: none;
}

.agi-lille-title {
    font-size: 6rem !important;
    color: #383A56 !important;
    font-weight: bold;
}

.custom-button {
    border-radius: 30px;
    background-color: #383A56;
    padding: 15px;
    color: white;
    transition: all .2s ease-in-out;
}

.custom-button:hover {
    text-decoration: none;
    color: #383A56;
    background: transparent;
    border: 1px solid #383A56;
}

.emoji-date {
    color: #383A56;
    font-size: 2rem !important;
}

.lille-illustration {
    position: absolute;
    bottom:0;
    right:0;
}

//footer{
//  position:relative;
//  bottom:0;
//}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   vertical-align: bottom;
   margin-top:auto;
}

.custom-container{
  margin-top:10rem;
}

@media (max-width: 900px) {
    .lille-illustration {
      display: none;
    }

    .custom-container {
        text-align: center;
    }
  }
