---
layout: default
title: Sponsors {{ site.data.event.date.year }}
permalink: /sponsors/
---
<div class="container">
  <div class="row">
    <h1>Sponsors Gold</h1>
  </div>
  {% include sponsor.html sponsors=site.data.sponsors.gold %}
  <div class="row">
    <h1>Sponsors Silver</h1>
  </div>
  {% include sponsor.html sponsors=site.data.sponsors.silver %}
  <div class="row">
    <h1>Et moi ?</h1>
  </div>
  <div class="row">
    Vous souhaitez soutenir activement l'évènement et faire apparaître votre logo ? 
    Vous trouverez ici les informations nécessaires : <a href="/devenir-sponsor">Devenir sponsor</a>
  </div>
</div>
