---
layout: default
title: Pré-programme
permalink: /pre-programme
---
<div class="container">
  <p>Le programme de l'édition {{ site.data.event.date.year }} est en cours de sélection.
    Nous pouvons cependant déjà <strong>vous en dévoiler une partie</strong>&nbsp;:</p>
  <div class="row schedule_previews">
    {% for talk in site.data.schedule_preview %}
    <a name="{{ talk.subject }}"></a>
    <div class="schedule_preview" id="{{ talk.subject }}">
      <h1 class="title">{{ talk.subject }}</h1>
      <div class="details">
        {% if talk.format %}
          <h2 class="format">{{ talk.format }}</h2>
        {% endif %}
        <div class="description">{{ talk.description }}</div>
      </div>

      {% assign speaker_names = talk.speaker | split: ", " %}
      {% for speaker_name in speaker_names %}
      {% assign speaker = site.data.speakers | where:"name",speaker_name | first %}
      <div class="speaker">
        <img src="/img/speakers/{{ speaker.photo }}.jpg" alt="{{ speaker.name }}">
        <h2>{{ speaker.name }}</h2>
        <div class="bio">{{ speaker.bio }}</div>
      </div>
      {% endfor %}
      <hr>
    </div>
    {% endfor %}
  </div>
  <p>Vous pouvez surveiller cette page ou <a href="https://twitter.com/NordAgile">nous suivre sur Twitter</a> pour être tenu.e au courant des prochaines annonces sur le programme.</p>
  <!--<p>Nous vous proposons de consulter le <a href="http://2017.agiletour-lille.org/programme">programme de l'an-->
    <!--dernier</a> pour vous faire une idée du type de contenu que l'on peut trouver à Agi'Lille.</p>-->
  <p>Et vous pouvez également toujours <a href="/cfp">proposer un sujet d'atelier ou de conférence</a></p>
</div>
