---
layout: default
title: Sponsors 2018
permalink: /sponsors/
---
<div class="container">
  <div class="row">
    <h1>Sponsors 2018 Gold</h1>
  </div>
  {% include sponsor.html sponsors=site.data.sponsors.gold %}
  <div class="row">
    <h1>Sponsors 2018 Media</h1>
  </div>
  {% include sponsor.html sponsors=site.data.sponsors.media %}
  <div class="row">
    <h1>Et moi ?</h1>
  </div>
  <div class="row">
    Vous souhaitez soutenir activement l'évènement et faire apparaître votre logo ? 
    Vous trouverez ici les informations nécessaires : <a href="/devenir-sponsor">Devenir sponsor</a> 
  </div>
</div>
