<footer>
  <p>Pour rester connecté, suivez nous sur 
    <a href="https://twitter.com/NordAgile" class="icon-block">
      <i class="icon-twitter icon-4x"></i>
      <span>Twitter</span>
    </a> et 
    <a href="https://www.linkedin.com/company/15785052">
      <i class="icon-linkedin icon-4x"></i>
      <span>LinkedIn</span>
      </a></p>
  <p>Agi'Lille, un événement <a href="http://www.nord-agile.org/">Nord Agile</a>.</p>
</footer>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
