.schedule_previews .schedule_preview {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 1024px;
  clear: both;
  h1 {
    font-size: $base-font-size * 2;
  }
  h2 {
    font-size: $base-font-size * 1.5;
    &.format {
      font-size: $base-font-size;
      font-weight: bold;
    }
  }
  .details {
    clear: both;
  }
  .bio {
    font-style: italic;
  }
  .speaker {
    min-height: 120px;
    img {
      float: left;
      margin-right: 1em;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      max-width: 120px;
      max-height: 120px;
    }
  }
  &:target {
    background-color: #fcf8e3;
  }
}
